<div ng-controller="app.views.project.new as vm">
    <form id="NewTaskForm" role="form" name="newTaskForm" novalidate>
        <div class="form-group">
            <label for="ProjectName">@L("Project")</label>
            <textarea id="ProjectName" ng-model="vm.project.name" class="form-control" rows="3" placeholder="@L("EnterHere")" required></textarea>
        </div>
        <div class="form-group">
            <label for="TaskDescription">@L("Description")</label>
            <textarea id="TaskDescription" ng-model="vm.project.description" class="form-control" rows="3" placeholder="@L("EnterHere")" required></textarea>
        </div>
        <button ng-click="vm.saveProject()" ng-disabled="newTaskForm.$invalid" type="submit" class="btn btn-primary">@L("Create")</button>
    </form>
</div>